.footerContainer{
    background-color: #B0B0B0; 
    color: #003366; 
    font-weight: bold;
    text-align: center;
    padding: 40px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
    font-family: 'Arial', sans-serif;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialLinks p{
    font-size: 30px;
    padding: 10px;
}
  
.socialLinks p a{
    color: #003366;
}
  
.socialLinks p a:hover{
    color: #002244;
}
  