/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
  
@font-face {
    font-family: 'Bungee Tint';
    src: local('Bungee Tint'), url(/_next/static/media/BungeeTint-Regular.adc967f3.ttf) format('truetype');
}

.icon {
    transition: color 0.5s;
    background-color: transparent; 
}
  
.appContent{
    height: 100vh;
    background-color:#F5F5F5;
}
  
.formContainer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 100px;        
    background-color: #f5f5f5;
}
  
.formTitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #003366;
}
  
form{
    display: flex;
    flex-direction: column;  
    gap: 10px;               
    width: 500px;  
}
  
form input, form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 1rem;
    background-color: white;
}
  
.labelInput{
    display: flex;
    flex-direction: column;     
}
  
form label{
    color: #003366;
    margin-bottom: 3px;
}
  
form input[type="time"]{
    width: 100%;
}
  
.timeContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
  
form input[readonly]{
    background-color: #f5f5f5; 
    color: #666; 
    cursor: not-allowed; 
}
  
.btContainer{
    display: flex; 
    margin-top: 20px; 
    gap: 10px;    
}
  
.blueButton,.redButton { 
    padding: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
  
.blueButton{
    background-color: #003366;
}
  
.redButton{
    background-color: #ff0000;
}
  
.blueButton:hover{
    background-color: #002244;
}
  
.redButton:hover{
    background-color: #8b0000;
}
  
.registerLoginDiv{
    color:  #605f5f;
    padding: 5px;
}
  
.registerLoginDiv a {
    text-decoration: none;
    color: #003366;
}
  
.registerLoginDiv a:hover{
    text-decoration: underline;
}
  
.errorContainer {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
  
.successContainer {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
    

  
  
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Navbar/Navbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbarContainer__wt3PZ{
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.096);
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
}

.Navbar_navbarContainer__wt3PZ div{
    justify-content: center;
    flex: 1 1;
}

.Navbar_logo__PiZmU {
    text-decoration: none;
    font-family: "Bungee Tint", sans-serif; 
    font-size: 1.2rem; 
}

.Navbar_logo__PiZmU h1{
    padding: 15px; 
    margin: 30px 30px 20px 30px;
}

.Navbar_navbarLinks__qu8fF{
   text-align: center;
}

.Navbar_navbarLinks__qu8fF a, .Navbar_navbarLinks__qu8fF span{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #003366;
    padding: 15px;  
    background-color: transparent;
}

.Navbar_navbarLinks__qu8fF a:hover, .Navbar_navbarLinks__qu8fF span:hover, .Navbar_icon__b0Hko:hover, .Navbar_dropdownMenu__5KeSk button:hover {
   background-color: #cccccc;
   color: #001F3F;
   border-radius: 10px;
   transition: 0.5s;
}

.Navbar_searchContainer__ib8_3 {
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 2px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
}

.Navbar_searchInput___xn_J{
    width: 100%;
    padding: 10px;
}

.Navbar_searchInput___xn_J, .Navbar_searchButton__oY96w {
    border: none; 
    outline: none;
    background-color: transparent;
}

.Navbar_searchButton__oY96w{
    cursor: pointer;
}

.Navbar_searchIcon__L4K83{
    color: #000000;
    font-size: 25px;
    background-color: transparent;
    padding: 3px;
}

.Navbar_dropdown__GsLXV {
    position: relative;
    display: inline-block; 
}

.Navbar_dropdownToggle___4y2Q {
    cursor: pointer;
}

.Navbar_dropdownMenu__5KeSk {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Para que fique acima de outros elementos */
}

.Navbar_dropdownMenu__5KeSk button, .Navbar_dropdownMenu__5KeSk a{
   font-weight: 100;
   font-size: 1em;
   padding: 8px;
   color: #003366;
}

.Navbar_dropdownMenu__5KeSk button{
    border: none;
    width: 100%;
    background-color: transparent;
}

.Navbar_dropdownItem__GbN_7 {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    align-items: center;
}

.Navbar_dropdownItem__GbN_7:hover {
    background-color: #f0f0f0; /* Mudar cor ao passar o mouse */
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Footer/Footer.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footerContainer__77_mg{
    background-color: #B0B0B0; 
    color: #003366; 
    font-weight: bold;
    text-align: center;
    padding: 40px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
    font-family: 'Arial', sans-serif;
}

.Footer_socialLinks__22g9N{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Footer_socialLinks__22g9N p{
    font-size: 30px;
    padding: 10px;
}
  
.Footer_socialLinks__22g9N p a{
    color: #003366;
}
  
.Footer_socialLinks__22g9N p a:hover{
    color: #002244;
}
  
