.navbarContainer{
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.096);
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
}

.navbarContainer div{
    justify-content: center;
    flex: 1;
}

.logo {
    text-decoration: none;
    font-family: "Bungee Tint", sans-serif; 
    font-size: 1.2rem; 
}

.logo h1{
    padding: 15px; 
    margin: 30px 30px 20px 30px;
}

.navbarLinks{
   text-align: center;
}

.navbarLinks a, .navbarLinks span{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #003366;
    padding: 15px;  
    background-color: transparent;
}

.navbarLinks a:hover, .navbarLinks span:hover, .icon:hover, .dropdownMenu button:hover {
   background-color: #cccccc;
   color: #001F3F;
   border-radius: 10px;
   transition: 0.5s;
}

.searchContainer {
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 2px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
}

.searchInput{
    width: 100%;
    padding: 10px;
}

.searchInput, .searchButton {
    border: none; 
    outline: none;
    background-color: transparent;
}

.searchButton{
    cursor: pointer;
}

.searchIcon{
    color: #000000;
    font-size: 25px;
    background-color: transparent;
    padding: 3px;
}

.dropdown {
    position: relative;
    display: inline-block; 
}

.dropdownToggle {
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Para que fique acima de outros elementos */
}

.dropdownMenu button, .dropdownMenu a{
   font-weight: 100;
   font-size: 1em;
   padding: 8px;
   color: #003366;
}

.dropdownMenu button{
    border: none;
    width: 100%;
    background-color: transparent;
}

.dropdownItem {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    align-items: center;
}

.dropdownItem:hover {
    background-color: #f0f0f0; /* Mudar cor ao passar o mouse */
}