.navbarContainer{
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.096);
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
}

.navbarContainer div{
    justify-content: center;
    flex: 1;
}

.logo {
    text-decoration: none;
    font-family: "Bungee Tint", sans-serif; 
    font-size: 1.2rem; 
}

.logo h1{
    padding: 15px; 
    margin: 30px 30px 20px 30px;
}

.navbarLinks{
   text-align: center;
}

.navbarLinks a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #003366;
    padding: 15px;  
    background-color: transparent;
}

.navbarLinks a:hover, .icon:hover {
   background-color: #cb43116d;
   color: #001F3F;
   border-radius: 10px;
   transition: 0.5s;
}

.searchContainer {
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 2px;
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.searchInput{
    width: 100%;
    padding: 10px;
    background-color: transparent;
}

.searchInput, .searchButton {
    border: none; 
    outline: none;
    background-color: transparent;
}

.searchButton{
    cursor: pointer;
}

.searchIcon{
    color: #000000;
    font-size: 25px;
    background-color: transparent;
    padding: 3px;

}