*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: 'Bungee Tint';
  src: local('Bungee Tint'), url(../src/assets/fonts/BungeeTint-Regular.ttf) format('truetype');
}

.icon {
  transition: color 0.5s;
  background-color: transparent; 
}

.App{
  background-color:#F5F5F5;
}

.appContent{
  height: 100vh;
}