.errorContainer {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
  