*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
  
@font-face {
    font-family: 'Bungee Tint';
    src: local('Bungee Tint'), url(../../public/fonts/BungeeTint-Regular.ttf) format('truetype');
}

.icon {
    transition: color 0.5s;
    background-color: transparent; 
}
  
.appContent{
    background-color:#F5F5F5;
    min-height: 100vh
}
  
.formContainer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 100px;        
    background-color: #f5f5f5;
}
  
.formTitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #003366;
}
  
form{
    display: flex;
    flex-direction: column;  
    gap: 10px;               
    width: 500px;  
}
  
form input, form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 1rem;
    background-color: white;
}
  
.labelInput{
    display: flex;
    flex-direction: column;     
}
  
form label{
    color: #003366;
    margin-bottom: 3px;
}
  
form input[type="time"]{
    width: 100%;
}
  
.timeContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
  
form input[readonly]{
    background-color: #f5f5f5; 
    color: #666; 
    cursor: not-allowed; 
}
  
.btContainer{
    display: flex; 
    margin-top: 20px; 
    gap: 10px;    
}
  
.blueButton,.redButton { 
    padding: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
  
.blueButton{
    background-color: #003366;
}
  
.redButton{
    background-color: #ff0000;
}
  
.blueButton:hover{
    background-color: #002244;
}
  
.redButton:hover{
    background-color: #8b0000;
}
  
.registerLoginDiv{
    color:  #605f5f;
    padding: 5px;
}
  
.registerLoginDiv a {
    text-decoration: none;
    color: #003366;
}
  
.registerLoginDiv a:hover{
    text-decoration: underline;
}
  
.errorContainer {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
  
.successContainer {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
    
.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}

  
  